.country__btn{
    position: relative;
    padding-right: 13px;
}

.country__btn::after{
    content: '';
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url(../img/arrow-down.svg) no-repeat center;
    width: 9px;
    height: 6px;
}

.country__list{
    display: none;
}

